[submodule "scauta"]
	path = projects/scauta
	url = https://github.com/inchestnov/scauta.git
[submodule "marko"]
	path = projects/marko
	url = https://github.com/inchestnov/marko.git
[submodule "sensitive-go"]
	path = projects/sensitive-go
	url = https://github.com/inchestnov/sensitive-go.git
